servers = (
  {
    address = "irc.oftc.net";
    chatnet = "oftc";
    port = "6667";
    # port = "6697";
    # use_ssl = "yes";
    # ssl_cert = "~/.irssi/certs/[NICK].pem";
    # ssl_verify = "yes";
    # ssl_cafile = "~/.irssi/certs/CAs.pem";
    autoconnect = "yes";
  },
  {
    address = "irc.freenode.net";
    chatnet = "freenode";
    port = "6667";
    autoconnect = "yes";
  },
  { address = "irc.efnet.org"; chatnet = "EFNet"; port = "6667"; },
  { address = "irc.dal.net"; chatnet = "DALnet"; port = "6667"; }
);
chatnets = {
  oftc = {
    type = "IRC";
    max_kicks = "4";
    max_msgs = "3";
    max_whois = "30";
    autosendcmd = "";
  };
  freenode = {
    type = "IRC";
    max_kicks = "4";
    max_msgs = "3";
    max_whois = "30";
    autosendcmd = "";
  };
  EFNet = { 
    type = "IRC";
    max_kicks = "4";
    max_msgs = "3";
    max_whois = "1";
  };
  DALnet = {
    type = "IRC";
    max_kicks = "4";
    max_msgs = "3";
    max_whois = "30";
  };
};

channels = (
  { name = "#xmonad"; chatnet = "freenode"; autojoin = "yes"; },
  { name = "#stumpwm"; chatnet = "freenode"; autojoin = "yes"; },
  { name = "#scheme"; chatnet = "freenode"; autojoin = "yes"; },
  { name = "#lisp"; chatnet = "freenode"; autojoin = "yes"; },
  { name = "#emacs"; chatnet = "freenode"; autojoin = "yes"; },
  { name = "#node.js"; chatnet = "freenode"; autojoin = "yes"; }
);

settings = {
  core = {
    real_name = "user52882";
    user_name = "user52882";
    nick      = "user52882";
  };
  "fe-text" = { actlist_sort = "refnum"; };
};

hilights = ( { text = "user52882"; nick = "yes"; word = "yes"; } );

